@page
@model GigaBankLab.Pages.Deposits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Депозиты</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Percent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].IsRevocable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposits[0].IsPartialWithdrawal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Deposits) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRevocable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPartialWithdrawal)
            </td>
        </tr>
}
    </tbody>
</table>
